# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

node_modules/
backend/venv/
frontend/node_modules/
.env
backend/.env