.login-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

z-index:2;

padding:40px;

}

.login-card{
width:430px;
padding:45px;
border-radius:28px;
background:rgba(255,255,255,.15);
backdrop-filter:blur(22px);
border:1px solid rgba(255,255,255,.25);
box-shadow:
0 30px 80px rgba(0,0,0,.28),
0 0 60px rgba(124,58,237,.18);
display:flex;
flex-direction:column;
gap:22px;
animation:fadeUp .8s ease;
transition:
transform .25s ease,
box-shadow .3s ease;
transform-style: preserve-3d;
}

.login-logo{

width:80px;
height:80px;

margin:auto;

border-radius:50%;

background:rgba(255,255,255,.2);

display:flex;

justify-content:center;

align-items:center;

font-size:2rem;

backdrop-filter:blur(12px);

}

.login-card h1{

font-size:2.4rem;

text-align:center;

margin-top:10px;

}

.login-card p{

text-align:center;

color:white;

opacity:.9;

line-height:1.6;

}

.login-card input{

height:55px;

padding:0 18px;

border-radius:14px;

border:none;

background:rgba(255,255,255,.18);

color:white;

font-size:16px;

backdrop-filter:blur(10px);

transition:.3s;

}

.login-card input::placeholder{

color:rgba(255,255,255,.8);

}

.login-card input:focus{

outline:none;

background:rgba(255,255,255,.28);

box-shadow:0 0 0 2px white;

}

.login-btn{

height:55px;

border:none;

border-radius:14px;

background:white;

color:#6d28d9;

font-size:17px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

transform:translateY(-3px);

box-shadow:
0 15px 35px rgba(255,255,255,.35);

}

.divider{

display:flex;

align-items:center;

justify-content:center;

margin:10px 0;

position:relative;

}

.divider::before,
.divider::after{

content:"";

flex:1;

height:1px;

background:rgba(255,255,255,.35);

}

.divider span{

margin:0 15px;

color:white;

font-size:14px;

}

.secondary-btn{

width:100%;

height:52px;

border-radius:14px;

border:1px solid rgba(255,255,255,.5);

background:transparent;

color:white;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.secondary-btn:hover{

background:rgba(255,255,255,.15);

}

.signup-text{

margin-top:-5px;

}

.back-home{

margin-top:15px;

cursor:pointer;

font-size:.95rem;

transition:.3s;

}

.back-home:hover{

transform:translateX(-4px);

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(35px);

}

to{

opacity:1;

transform:translateY(0);

}

}